@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-ExtraBold.ttf");
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Italic.ttf");
  font-style: italic;
  font-weight: 100;
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #020a18;
}
h1 {
  margin: 0;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #020b1b;
  column-gap: 40px;
}
.header-item {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  line-height: normal;
  font-weight: 600;
}
.intro {
  margin-top: 160px;
  display: flex;
  gap: 128px;
}
.center {
  width: 1146px;
  margin-left: auto;
  margin-right: auto;
}
.intro-upper-title {
  color: #3a68b8;
  font-size: 18px;
  font-weight: 600;
  line-height: 160%;
  text-transform: uppercase;
}
.intro-title {
  color: #fff;
  font-size: 55px;
  font-weight: 800;
  line-height: 130%;
  margin-top: 10px;
}
.intro-description {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 160%;
  opacity: 0.7;
  margin-top: 40px;
  width: 558px;
}
.intro-button-wrapper {
  margin-top: 50px;
  gap: 20px;
  display: flex;
}
.intro-button {
  font-family: "Open Sans", sans-serif;
  padding: 15px 30px;
  border-radius: 5px;
  background: #3a68b8;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}
.button-withIcon {
  display: flex;
  gap: 10px;
  align-items: center;
}
.cards {
  display: flex;
  justify-content: space-between;
  margin-top: 197px;
}
.imageText {
  margin-top: 157px;
  display: flex;
  justify-content: center;
  gap: 68px;
}
.leftText {
  align-self: center;
  color: white;
}
.titleText {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}
.descText {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  opacity: 0.7;
  margin-top: 30px;
}
.buttonWrapperText {
  margin-top: 50px;
}

.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 264px;
}

.service_items {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 10px;
  background: #132035;
}

.service_name {
  margin-top: 30px;
  color: var(--ffffff, #fff);
  text-align: center;
  font-family: Open Sans;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  opacity: 0.7;
}

.service-desc {
  margin-top: 30px;
  color: var(--ffffff, #fff);
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  opacity: 0.7;
}

.service-margin-big {
  margin-top: 60px;
}

.service-item-img {
  height: 98px;
  width: 103px;
}

.service-item-img-big {
  height: 306px;
  width: 322px;
}

.services_item4 {
  grid-row: 2/4;
  grid-column: 1/3;
}

.footer {
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer-column-title {
  margin-bottom: 33px;
  color: var(--ffffff, #fff);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.footer-column-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: var(--ffffff, #fff);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-right: 100px;
}

.footer-info {
  display: flex;
  column-gap: 9px;
  align-items: center;
}

.footer-about-info {
  color: var(--ffffff, #fff);
  font-family: Roboto;
  font-size: 14px;
  font-style: italic;
  font-weight: 100;
  line-height: normal;
  opacity: 0.6;
}

.footer-logos {
  display: flex;
  gap: 24px;
}
